body {
  padding: 1rem;
}

output {
  display: block;
  min-height: 1rem;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 3px;
}

button {
  margin: .5em;
}

output {
  padding: 1em;
  background-color: white;
}

#numberBank h4 {
  padding: 0em 0em 0em .5em;
}

#sortedNumbers {
  padding: 2em;
  background-color: aliceblue;
}

#numberBank {
  background-color:rgb(187, 222, 250);
  padding: 2em;
}

